h1 {
  text-align: center;
}

section {
  display: flex;
  justify-content: space-evenly;
}

div {
  width: 20%;
  border: 1px black solid;
  border-radius: 20px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

img {
  width: 100%;
  border-radius: 20px 20px 0 0;
}
