<h3>Formulaire d'inscription</h3>
<form (submit)="onSubmitCreateNewUser()" [formGroup]="userForm">
  <div>
    <label for="username">Username</label>
    <input type="text" id="username" formControlName="username">
  </div>
  <div formGroupName="credentials">
    <div>
      <label for="email">Email</label>
      <input type="text" id="email" formControlName="email">

    </div>
    <div>
      <label for="password">Mot de Passe</label>
      <input type="password" id="password" formControlName="password">
    </div>
  </div>

  <div>
    <label for="streetName">Nom de Rue</label>
    <input type="text" id="streetName" formControlName="streetName">
  </div>
  <div>
    <label for="streetNumber">Numéro de Rue</label>
    <input type="number" id="streetNumber" formControlName="streetNumber">
  </div>
  <div>
    <label for="zipcode">Code Postal</label>
    <input type="text" id="zipcode" formControlName="zipcode">
  </div>
  <div>
    <label for="city">Ville</label>
    <input type="text" id="city" formControlName="city">
  </div>
  <input type="submit" value="Je m'inscris">
</form>

<h1>Utilisateurs inscrits :</h1>
  <section *ngFor="let user of usersList">
    <ul>
      <li>{{user.username}}, joignable à {{user.email}}, habitant à {{user.city}}, {{user.zipcode}}</li>
    </ul>
  </section>

<!-- -->
