<p>It Works!</p>

<form (ngSubmit)="onSubmit()" #myForm="ngForm">
  <div>
    Form submitted ? {{myForm.submitted}}
    Form valid ? {{myForm.valid}}
    Form invalid ? {{!myForm.valid}}
  </div>
  <div>
    <label for="firstname">Prénom</label>
    <input type="text" name="firstname" id="firstname"
      [(ngModel)]="drivenUser.firstname" #firstname="ngModel"
      required minlength="3" maxlength="15">
  </div>
  <div *ngIf="firstname.errors">
    <span class="errors-msg" *ngIf="firstname.errors?.['required']">Le prénom est manquant</span>
    <span class="errors-msg" *ngIf="firstname.errors?.['minlength']">Le prénom doit comporter au moins 3 caractères</span>
    <span class="errors-msg" *ngIf="firstname.errors?.['maxlength']">Le prénom ne doit pas dépasser 15 caractères</span>
  </div>

  <div>
    <label for="lastname">Nom</label>
    <input type="text" name="lastname" id="lastname"
      [(ngModel)]="drivenUser.lastname" #lastname="ngModel"
      required minlength="3" maxlength="15">
  </div>
  <div *ngIf="lastname.errors">
    <span class="errors-msg" *ngIf="lastname.errors?.['required']">Le nom est manquant</span>
    <span class="errors-msg" *ngIf="lastname.errors?.['minlength']">Le nom doit comporter au moins 3 caractères</span>
    <span class="errors-msg" *ngIf="lastname.errors?.['maxlength']">Le nom ne doit pas dépasser 15 caractères</span>
  </div>

  <div>
    <label for="email">Email</label>
    <input type="text" name="email" id="email" [(ngModel)]="drivenUser.email">
  </div>

  <div>
    <label for="password">Mot de passe</label>
    <input type="password" name="password" id="password" [(ngModel)]="drivenUser.password">
  </div>

  <button type="submit">Je m'inscris</button>
</form>

<section>
  <p>L'utilisateur s'appelle {{drivenUser.firstname}} {{drivenUser.lastname}} et on peut lui envoyer un mail à {{drivenUser.email}}</p>
</section>
